.container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0,0.7); 

    &__modal{
        background-color: var(--background);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        border-radius: 6px; 
        width: 40rem;     
        height: 25rem;
    }
}
.close{
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0.5rem 0 0;
    button{
        outline: none;
        background: transparent;
        border: none;
        font-weight: 700;
        font-size: 1rem;
        color: var(--color-primary);
        border: 0.2rem solid var(--color-primary);
        border-radius: 50%;
        height: 2rem;
        display: flex;
        width: 2rem;
        align-items: center;
        justify-content: center;
        &:hover{
            box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
            cursor: pointer;
            background: transparent;
            background: var(--color-primary);
            color: var(--background);
        }
    }
}

.formSection{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;

    input{
        margin-right: 1rem;
        height: 2.5rem;
        font-size: 1rem;
        padding: 0.5rem;
        font-weight: 400;
        border: 0.1rem solid var(--color-secondary);
        border-radius: 6px;
        outline:none;
        &:focus{
            border: 0.15rem solid var(--color-primary);
            box-shadow: rgb(0 0 0 / 10%) 0px 8px 24px;
        }
    }
    button{
        display: flex;
        justify-content: center;
        font-size: 1rem;
        width: 4rem;
        color: var(--color-primary);
        border: 0.1rem solid var(--color-primary);
        border-radius: 6px;
        height: 2.5rem;
        padding: 1rem;
        background: transparent;
        align-items: center;
        &:hover{
            box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
            cursor: pointer;
            background: var(--color-primary);
            color: var(--background);
        }
    }
}

.feedList{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: center;
    background-color: #C4A484;
    color: black;
    font-size: 1.2rem;
    margin: .5rem 1rem;
    border-radius: 6px;
    overflow-y: scroll;
    height: 18rem;
}

.items_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--color-primary);
    width: 90%;
    padding: 0.5rem;
    height: 4rem;
    margin-bottom: .5rem;
    border-radius: 6px;
}
.feedName
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    &:hover{
        cursor: pointer;
    }
}
.feedcard_close{
    outline: none;
    background: transparent;
    border: none;
    color: var(--color-primary);
    height: 1.5rem;
    display: flex;
    width: 1.5rem;
    align-items: center;
    justify-content: center;
   
    &:hover{
        cursor: pointer;
    }
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
    
    .container__modal{
        width: 30rem;
    }
    .formSection{
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 2rem;
        & > *{
            margin-bottom: .5rem;
        }
    }
    .feedList{
        height: 60%;
    }
    
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    
    .mainpage{
        margin: 0 2rem;
    }
    
}