.container{
    // position: fixed;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // width: 100%;
    // height: 100vh;
    // background:rgba(0,0,0,0.7); 
    // z-index: 2000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,0.7);
    backdrop-filter: blur(3px);
    z-index: 2000;

    &__modal{
        background-color: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        border-radius: 6px; 
        width: 40rem;     
        height: 25rem;
    }
}

.header{
    // margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .75rem .5rem 1rem 1rem;
    align-items: flex-start;
    &__text{
        font-size: 1.8rem;
        margin-top: 1rem;
        // margin-left: 1rem;
        font-weight: 600;
    }

    &__close{
        outline: none;
        background: transparent;
        border: none;
        font-weight: 700;
        font-size: 1rem;
        width: 4rem;
        color: rgba(0,0,0,0.7);
        // display: flex;
        
        // align-items: center;
        // justify-content: center;
        &:hover{
            cursor: pointer;
            color: var(--orange);
        }
    }
}
.formSection{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;

    input{
        margin-right: 1rem;
        height: 2.5rem;
        font-size: 1rem;
        padding: 0.5rem;
        font-weight: 400;
        border: none;
        background: transparent;
        color: black;
        border: 0.1rem solid var(--orange);
        // border-radius: 6px;
        outline:none;
        &:focus{
            // border: 0.1rem solid var(--orange);
            // background: transparent;
            color: black;
            box-shadow: rgb(0 0 0 / 10%) 0px 8px 24px;
        }
    }
    button{
        display: flex;
        justify-content: center;
        font-size: 3rem;
        width: 2.5rem;
        color: rgba(0,0,0,0.7);
        border: none;
        height: 1.5rem;
        padding: 1rem;
        background: transparent;
        align-items: center;
        &:hover{
            cursor: pointer;
            color: var(--orange);
        }
    }
}

.feedList{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    color: black;
    font-size: 1.2rem;
    margin: .5rem 1rem;
    border-radius: 6px;
    overflow-y: scroll;
    height: 13.5rem;
}

.items_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 100%;
    height: auto;
    margin: 0.5rem 0;

    &__feedName {
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 40%;
        &:hover{
            cursor: pointer;
        }
    }
    &__feedURL{
        color: rgba(0,0,0,0.7);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 40%;
        &:hover{
            cursor: pointer;
        }
    }
    &__icons{
        display: flex;
        justify-content: space-evenly;
        width: 20%;
    }
    &__toggleView{
        height: 1rem;    
        &:hover{
            cursor: pointer;
        }
    }
    &__delete{
        height: 1.4rem;
        &:hover{
            cursor: pointer;
        }
    }
}

.items_table{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
    &__feedName{
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 5rem;
    }
    &__feedURL{
        color: rgba(0,0,0,0.7);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 5rem;
        &:hover{
            cursor: pointer;
        }
    }
    &__toggleView{
        // outline: none;
        // background: transparent;
        // border: none;
        height: 1rem;    
        &:hover{
            cursor: pointer;
        }
    }
    &__delete{
        // outline: none;
        // background: transparent;
        // border: none;
        height: 1.4rem;
        &:hover{
            cursor: pointer;
        }
    }
}
.feedTable{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    // margin: 1rem 1rem 0 1rem;
    align-items: center;
    color:rgba(0, 0, 0,0.7);
    font-family: 500;
    // width: 100%;
    padding: 1rem 1rem 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    font-weight: 600;
    border-bottom: .1rem solid rgba(0,0,0,0.3);

    &__name{
        width: 38%;
    }
    &__feedURL{
        width: 38%;
    }
    &__icons{
        width: 20%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    
    .container{
        &__modal{
            width: 35rem;
            height: 38rem;
        }
    }
    .formSection{
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 2rem;
        & > *{
            margin-bottom: .5rem;
        }
    }
    .feedList{
        height: 60%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    
    .mainpage{
        margin: 0 2rem;
    }
    
}