.mainpage{
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem;
    // background: beige ;
    // opacity: 70%;
}

.emptyfeed{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    height: 90%;
    width: 100%;
}