.mainpage{
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0 4rem;
    margin-top: 2rem;
}

.emptyfeed{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    height: 90%;
    width: 100%;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.manageFeedBtn {
    display: flex;
    align-items: center;
    width: 14rem;
    justify-content: space-evenly;
    border: 1px solid #FF6D1B;
    background: transparent;
    height: 3rem;
    font-weight: 400;
    color: #FF6D1B;
    font-family: 'IBM Plex sans';
    font-size: 1.3rem;
    cursor: pointer;
}

.feedCardContainer{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    width: 90%;
    background: white;
    margin-bottom:3rem;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    color: rgba(0,0,0,0.3);
    
    &__text{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    // h1{
    //     display: flex;
    //     justify-content: flex-start;
    //     width: 60%;
    // }
    // z-index:1000;
}

.content{
    width: 60%;
    height: 50%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:10001;
    
    button{
        background: transparent;
        border: 0.15rem solid var(--orange);
        outline: none;
        color: var(--orange);
        height: auto;
        font-size: 1.2rem;
        width: 13rem;
        padding: 0.5rem;

        &:hover{
            cursor: pointer;
        }
    }
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
    .content{
        // padding-right: 5rem;
        width: 90%;
        &__text{
            font-size: 1.5rem ;
            font-weight: 500;
        }
    }  
    
}
// @media only screen and (min-width: 600px) and (max-width: 900px) {
//     .header__right{
//         width:30%;
//     }
//     .header{
//         padding: 2rem;
//     }
    
// }