.header{
    background: var(--white);
    height: 10%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 1rem 5rem;
    color: var(--primary);
    align-items: flex-end;

    &__image{
        display: flex;
        flex-direction: row;
        width: 20%;
        img{
            height: 2rem;
        }
    }
    
    &__right{
        width: 20%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        font-size: 1.2rem;
        font-weight: 600;
        div{
            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    .header__right{
        // padding-right: 5rem;
        width: 50%;
    }
    .header{
        padding: 2rem;
    }
    
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .header__right{
        width:30%;
    }
    .header{
        padding: 2rem;
    }
    
}