:root {
  --background: #ffffff;
  --color-primary: #2e1114;
  --color-secondary:#501b1d;
  --color-shadow: #64485c;
}

// border-radius: 6px;
// background: #2E1114;
// box-shadow:  20px 20px 52px #230d0f,
//              -20px -20px 52px #391519;